[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/ardek66/nvchad-fnl.git
[submodule "wezterm/.config/wezterm"]
	path = wezterm/.config/wezterm
	url = https://github.com/ardek66/wezterm-fnl
